In [2]:
import pickle
import pandas as pd
import numpy as np
import os

In [8]:
curr_path = os.getcwd()
sub_path = curr_path +"/Dataset/Trade/"
code_path = curr_path + "/Dataset/Code/"

### load trade_data & loc_code

In [9]:
with open(sub_path+'trade_data_201901.txt', 'rb') as f:
    deal_df = pickle.load(f)

In [10]:
with open(code_path+'loc_code.txt', 'rb') as f:
    loc_df = pickle.load(f)

In [27]:
deal_df.head()

,deal_price,build_y,deal_y,loc_name,apt_name,deal_m,deal_d,sup_area,ji_bun,loc_code,curr_floor
0,"29,500",1983,2006,당주동,세종,1,11~20,93.4,100,11110,6
1,"15,741",1998,2006,익선동,운현신화타워,1,1~10,57.18,30-6,11110,12
2,"23,198",1998,2006,익선동,운현신화타워,1,1~10,84.26,30-6,11110,6
3,"23,198",1998,2006,익선동,운현신화타워,1,11~20,84.26,30-6,11110,14
4,"21,535",1998,2006,익선동,운현신화타워,1,11~20,78.23,30-6,11110,15

In [54]:
deal_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1012164 entries, 0 to 237
Data columns (total 11 columns):
deal_price    1012164 non-null int64
build_y       1012164 non-null int64
deal_y        1012164 non-null int64
loc_name      1012164 non-null object
apt_name      1012164 non-null object
deal_m        1012164 non-null int64
deal_d        1012164 non-null object
sup_area      1012164 non-null float64
ji_bun        1012164 non-null object
loc_code      1012164 non-null int64
curr_floor    1012164 non-null int64
dtypes: float64(1), int64(6), object(4)
memory usage: 132.7+ MB

In [14]:
loc_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 467 entries, 0 to 466
Data columns (total 6 columns):
si_code      467 non-null int64
gu_code      467 non-null int64
dong_code    467 non-null int64
si_name      467 non-null object
gu_name      467 non-null object
dong_name    467 non-null object
dtypes: int64(3), object(3)
memory usage: 25.5+ KB

## loc_df column name kor -> eng

In [21]:
col_names = ['deal_price', 'build_y', 'deal_y', 'loc_name', 'apt_name', 
             'deal_m', 'deal_d','sup_area', 'ji_bun', 'loc_code','curr_floor']
deal_df.columns = col_names

## data type change

#### 1. build_year str -> int
#### 2. deal_year str -> int
#### 3. deal_month str -> int
#### 4. current_floor str -> int
#### 5. deal_price str -> int

### 1, 2, 3, 4 str -> int

In [53]:
deal_df['build_y'] = deal_df['build_y'].astype(int)
deal_df['deal_y'] = deal_df['deal_y'].astype(int)
deal_df['deal_m'] = deal_df['deal_m'].astype(int)
deal_df['curr_floor'] = deal_df['curr_floor'].astype(int)
deal_df['loc_code'] = deal_df['loc_code'].astype(int)

### price remove ',' & str -> int, sup_area str -> float

In [44]:
deal_df['deal_price'] = deal_df['deal_price'].str.replace(',', '').astype(int)

In [51]:
deal_df['sup_area'] = deal_df['sup_area'].astype(float)

In [56]:
deal_df.head()

,deal_price,build_y,deal_y,loc_name,apt_name,deal_m,deal_d,sup_area,ji_bun,loc_code,curr_floor
0,29500,1983,2006,당주동,세종,1,11~20,93.40,100,11110,6
1,15741,1998,2006,익선동,운현신화타워,1,1~10,57.18,30-6,11110,12
2,23198,1998,2006,익선동,운현신화타워,1,1~10,84.26,30-6,11110,6
3,23198,1998,2006,익선동,운현신화타워,1,11~20,84.26,30-6,11110,14
4,21535,1998,2006,익선동,운현신화타워,1,11~20,78.23,30-6,11110,15

### KB APT INFO LOAD

In [74]:
def get_apt_info():
    info_path = "/Users/tax_k/Projects/AI-DL/KB/Dataset/Information"
    result = []
    for name in sorted(os.listdir(info_path)):
        path = os.path.join(info_path, name)
        if os.path.isdir(path):
            for fname in sorted(os.listdir(path)):
                fpath = os.path.join(path, fname)
                if os.path.isdir(fpath):
                    for aptname in (os.listdir(fpath)):
                        only_apt_name = aptname[:-4]
                        if not aptname.startswith('.') and os.path.isfile(os.path.join(fpath, aptname)):
                            apt_name_path = os.path.join(fpath, aptname)

                            with open(apt_name_path, 'rb') as f:
                                data = pickle.load(f)

                                data["gu"] = name
                                data["dong"] = fname
                                data["name"] = only_apt_name
                                if data is None:
                                    print('hack')
                                else:
                                    result.append(data)
    return result

In [75]:
info_data = get_apt_info()

In [77]:
len(info_data)

7977